{#TEMPLATE TABLE CLIENTS#}
{# @var clientDTO \Domain\DTO\ClientDTO #}

{% extends "base.html.twig" %}

{% block body %}
    <h2> Editar cliente</h2>
    <form action="{{ path('update_client',{uidentifier: clientDTO.uidentifier}) }}" method="post">
        <div class="row">
            <div class="col-md-6 mt-3">
                <div class="form-group">
                    <label for="name_client">Nombre:</label>
                    <input name="name" value="{{ clientDTO.name }}" class="form-control" id="name_client" required>
                </div>
            </div>
        </div>
        <div class="float-right mt-5">
            <button type="submit" class="btn-primary">Actualizar</button>
        </div>
    </form>

{% endblock %}